body {
  background-color: white;
  font-family: arial;
}

h1 {
  color: black;
  margin: 0 0 20px 0;
  font-size: 36px;
}

h2, h3 {
  margin: 0;
}

figure {
  margin: 0;
}

.app {
   display: flex;
}

.article-link {
  text-decoration: none;
  display: block;
}

.comments-number {
  text-decoration: underline;
}

.article-list {
  flex: 0 0 450px;
  margin-right: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
}

a.active > article.article-list-item {
    background-color: #eee;
}

article.article-list-item {
  display: flex;
  margin-bottom: 10px;

  figure.list-item-figure{
    flex: 0 0 120px;
    img {
      width: 100px;
    }
  }

  div.list-item-text {
    flex: auto;
  }
}

.article-view {
  flex: 1;
  figure {
    img {
      max-width: 100%;
      max-height: 400px;
    }
  }
}
