body {
  background-color: white;
  font-family: arial;
}

h1 {
  color: black;
  margin: 0 0 20px 0;
  font-size: 36px;
}

h2 {
  margin: 0;
}

figure {
  margin: 0;
}

button {
  border: 2px solid black;
  padding:5px;
  cursor: pointer;
  background: none;
  font-size:14px;
}

.app {
   display: flex;
}

.article-link {
  text-decoration: none;
  display: block;
}

.comments-number {
  text-decoration: underline;
}

.article-list {
  flex: 0 0 450px;
  margin-right: 30px;
}

a.active > article.article-list-item {
    background-color: #eee;
}

article.article-list-item {
  display: flex;

  figure.list-item-figure{
    flex: 0 0 120px;
  }

  div.list-item-text {
    flex: auto;
  }
}

.article-view {
  flex: 1;
}
